{% extends 'base.html' %}

{% block hamburger %}
{% endblock %}

{% block content %}
    <!-- Modal that comes on clicking 'Simulate'-->
    <div class="modal fade" id="formSecondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Enter system dynamics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- formSecond: Selects initial values for state variables -->
                <form id="formSecond">
                    <div class="modal-body">
                        <div id="dynamics-body" class="container">
                            <!-- Enter dynamics of the model -->
                            <div class="row-10 custom-file">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input id="dynamics-file" type="file" name="file" class="custom-file-input">
                                        <label class="custom-file-label" for="dynamics-file">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-10 mt-4">
                                <textarea id="dynamics-input" name="dynamics" rows="15" placeholder="Or enter dynamics here..."></textarea>
                            </div>
                        </div>
                        <div id="initial-values">
                            <div id="formSecondBody"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="formSecond-next-button" class="btn btn-primary">Next</button>
                        <button type="button" id="formSecond-randomize-button" onclick="randomizeInputs()" class="btn btn-primary">
                            Randomise
                        </button>
                        <button type="submit" id="formSecond-submit-button" value="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="container-fluid simulator">

        <!-- Control buttons at the top-->
        <div class="col-lg-12">
            <div id="controls" class="row ml-2 mb-2">

<!--                <button id="openSecondFormButton" class="btn btn-primary" type="button">Simulate-->
<!--                </button>-->

<!--                <button id="openThirdFormButton" class="btn btn-primary" type="button"-->
<!--                        style="visibility: hidden;" onclick="expandAll(null);expandAll(null);collapseAll(null)">Edit-->
<!--                </button>-->

                <div id="operation-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="options" id="option-inspect" autocomplete="off" checked>Inspect
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option-edit" autocomplete="off">Edit
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option-simulate" autocomplete="off">Simulate
                    </label>
                </div>

                <!-- The four player buttons -->
                <div class="btn-group btn-group-toggle ml-2 d-none" data-toggle="buttons" id="playerDiv"
                     style="z-index:5;">
                    <label class="btn btn-dark">
                        <input type="radio" name="player" id="play" autocomplete="off" value='0'> Play
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="player" id="pause" autocomplete="off" value='1' checked> Pause
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="player" id="next" autocomplete="off" value='2'> Next
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="player" id="back" autocomplete="off" value='3'> Previous
                    </label>
                </div>

                <!-- Range slider for speed of simulation -->
                <div id="timeRangeContainer" class="d-none">
                    <label id="timeRangeLabel" class="ml-4 float-left" for="timeRange">Simulation Speed</label>
                    <input type="range" min="0.25" max="2" value="1" step="0.05" class="slider float-left" id="timeRange">
                    <div id="timeRate" class="ml-1 mr-4 float-left">1x</div>
                </div>

                <!-- Instep form -->
                <div id="instep" class="form-inline my-2 my-lg-0 d-none">
                    <input class="form-control w-50 mr-2" placeholder="# steps" aria-label="Number of steps"
                           type="number" id="steps" name="steps" min="1">
                    <button class="btn btn-dark my-2 my-sm-0">Step Forward</button>
                </div>

                <!-- Tree animation toggle -->
                <div id="animationDiv" class="btn-group-toggle d-none" data-toggle="buttons">
                    <label class="btn btn-outline-dark active" style="margin-left: 7px;">
                        <input id="animateTree" type="checkbox" checked autocomplete="off">Toggle Animation
                    </label>
                </div>


            </div>
        </div>

        <!-- Row in which tree and model visualisation cards get added -->
        <div id="mainRow1" class="row ml-2 mb-2" style="visibility: hidden;">
            <!-- Column for tree -->
            <div class="col-lg-12 mb-2" id="expandThisDiv">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="container-fluid h-100">
                            <div class="row">
                                <button id="resetFocusButton" type="button" class="btn btn-dark mr-2" onclick="resetFocus('root')">Reset focus
                                </button>
                                <button id="expandAllButton" type="button" class="btn btn-dark mr-2"
                                        onclick="expandAll();">Expand all
                                </button>
                                <button id="collapseAllButton" type="button" class="btn btn-dark mr-2" onclick="collapseAll()">Collapse
                                    all
                                </button>
<!--                                <button id="selectRetrainNodeButton" type="button" class="btn btn-dark mr-2 active d-none" data-toggle="button" aria-pressed="true" autocomplete="off"-->
<!--                                        onclick="toggleNodeSelect();">Select Retrain Node-->
<!--                                </button>-->
                                <div id="nodeSelectInfo"></div>
                            </div>
                            <!-- Tree in this div -->
                            <div class="row" id="treeHere">

                            </div>

                            <div class="row mb-2 align-self-end">
                                <div class="col-auto mr-auto" style="font-size:0.9em">Click and drag to pan, scroll to zoom.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column for model visualisation -->
            <div class="col-lg-6 d-none" id="hideThisDiv">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div style="text-align:center;">
                            <canvas id="cartCanvas" width="450" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mainRow-interactive" class="row ml-2 d-none">

            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-body h-100">
                        <h4 class="card-title">Feature Specifications</h4>
                        <table id="feature-specification-table" class="table rounded">
                            <thead class="thead-light">
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body h-100">
                        <h4 class="card-title">Label Specifications</h4>
                        <table id="label-specification-table" class="table rounded">
                            <thead class="thead-light">
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body h-100">
                        <h4 class="card-title">Node Statistics</h4>
                        <table id="label-statistics-table" class="table rounded">
                            <thead class="thead-light">
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-body h-100">
                        <h4 class="card-title">Predicate Collection</h4>
                        <table id="standard-predicates-collection" class="table rounded">
                            <thead class="thead-light">
                            </thead>
                            <tbody id="standard-predicates-tbody"></tbody>
                            <tbody id="recent-predicates-tbody"></tbody>
                        </table>
                        <div class="row justify-content-center">
                            <input id="add-predicate-button" class="btn btn-primary m-2" type="submit"
                                   value="Add Predicate" onclick="add_predicate()">
                            <input id="delete-predicate-button" class="btn btn-primary m-2" type="submit"
                                   value="Delete Predicate" onclick="remove_predicate()" disabled>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body h-100">
                        <h4 class="card-title">Instantiated Predicates</h4>
                        <table id="computed-predicates-table" class="table rounded">
                            <thead class="thead-light">
                            </thead>
                            <tbody></tbody>
                            <tbody></tbody>
                        </table>
                        <div class="row justify-content-center">
                            <input id="use-predicate-button" class="btn btn-primary m-2" type="submit"
                                   value="Use Predicate" onclick="use_predicate()">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Row for simulation table -->
        <div id="mainRow2" class="row ml-2 d-none">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body overflow-auto">
                        <div id="tableHere">
                            <!-- Table in this div -->
                                <table id="simTable" class="table table-fixed rounded">
                                    <thead class="custom-thead">

                                    </thead>
                                    <tbody>
                                    <tr class="special">
                                        <td colspan="10" style="text-align: center">Start simulation to view trace here</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row for charts with two columns -->
        <div id="mainRow3" class="row ml-2 d-none">
            <div class="col-lg-6" id="chartsHere0">

            </div>

            <div class="col-lg-6" id="chartsHere1">

            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/d3.v6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/inspect.js' ) }}"></script>
<!--    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>-->
<!--    <script src="{{ url_for('static', filename='js/d3.v4.js') }}"></script>-->
{% endblock %}