/* Toggler buttons */

.btn {
    border: none;
    /* Remove borders */
    color: black;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    /*margin-right: 10px;*/
}

.btn-link {
    box-shadow: none !important;
    text-decoration: none !important;
}

/* Darker background on mouse-over */


/* .btn:hover {
    background-color: RoyalBlue;
} */


/* The side navigation menu */

.sidenav {
    color: #000;
    font-size: 0.9em;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    margin-top: 6rem;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* The navigation menu links */

/*.sidenav form {*/
/*    padding: 8px 32px 8px 32px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*    color: #818181;*/
/*    display: block;*/
/*    transition: 0.5s;*/
/*}*/

.sidenav select {
    font-size: 1em;
    width: 100%;
    border-bottom-right-radius: 0.35em !important;
    border-top-right-radius: 0.35em !important;
}

.sidenav input {
    font-size: 1em;
    text-align: left;
    background-color: #ffffff;
    width: 100%;
}


/* When you mouse over the navigation links, change their color */

.sidenav form:hover {
    color: #000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 16px;
    }
}