/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: padding-left .5s;
    /*padding: 20px;*/
}

.navbar {

}

.navbar-brand {
    font: 16px/1.6 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 800;
}

.logo {
    height: 3rem;
    padding-right: 0.5em;
    padding-bottom: 10px;
}

#controls {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

/*#mainRow1 .card-body .row {*/
/*    height: 100%;*/
/*}*/

#dynamics-input {
    width: 100%;
}

#initial-values {
    display: none;
}

#formSecond-randomize-button {
    display: none;
}

#formSecond-submit-button {
    display: none;
}

.custom-thead {
    color:#fff;
    background-color:#343a40;
    border-color:#454d55
}

i.fa {
    font-size: 1.2em;
    cursor: pointer;
}

#timeRangeLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#timeRate {
    margin-top: 11px;
    margin-bottom: 11px;
}

#nodeSelectInfo {
    padding-top: 10px;
    padding-left: 10px;
}

.node-text {
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainRow-interactive td {
    max-width: 25ch;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.card-columns {
    column-count: 2;
}

#simTable {
    height: 100%;
}

#tableHere {
    height: 95%;
}

.table-fixed {
    overflow-y: scroll;
    width: 100%;
    display: block;
}
